/* special header needs */


.header-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 100%;
    z-index: 100;
}

.hc-about-grid-wrap {
    row-gap: 0 !important;
}


.section-hero .section-wrap ,
.section-hc-about .section-wrap {
    padding-inline: 40px;
}

.hc-about-grid-wrap {
    gap: 2rem;
}


header .info-wrap p {
    position: relative;
    z-index: 100;
}

.section-hc-adress-official-combo {
    display: flex;
    flex-direction: column;
}

.col-1-6 {
    grid-column-start: 1 ;
    grid-column-end: 3 ;
}

.infostructure-container,.documents-content-wrap span a {
    color: var(--clr-primary-lightblue);
    text-decoration: none;
}




/* section hc about chb logic */


#section-hc-radio-01:checked ~ .section-hc-about .section-wrap .section-nav-menu ul li:nth-child(1) label,
#section-hc-radio-02:checked ~ .section-hc-about .section-wrap .section-nav-menu ul li:nth-child(2) label,
#section-hc-radio-03:checked ~ .section-hc-about .section-wrap .section-nav-menu ul li:nth-child(3) label,
#section-hc-radio-04:checked ~ .section-hc-about .section-wrap .section-nav-menu ul li:nth-child(4) label,
#section-hc-radio-05:checked ~ .section-hc-about .section-wrap .section-nav-menu ul li:nth-child(5) label{
    border-bottom: 1px solid var(--clr-primary-lightblue); 
}

/* hide stuff */

#section-hc-radio-01:not(:checked) ~ .section-hc-about .section-wrap .hc-radio-01 {
    display: none;
}

#section-hc-radio-02:not(:checked) ~ .section-hc-about .section-wrap .hc-radio-02 {
    display: none;
}

#section-hc-radio-03:not(:checked) ~ .section-hc-about .section-wrap .hc-radio-03 {
    display: none;
}
 
#section-hc-radio-04:not(:checked) ~ .section-hc-about .section-wrap .hc-radio-04 {
    display: none;
}

#section-hc-radio-05:not(:checked) ~ .section-hc-about .section-wrap .hc-radio-05 {
    display: none;
}

#section-hc-radio-04:checked ~.section-hc-about .hc-about-grid-wrap{
    row-gap: 0;
}

#section-hc-radio-05:checked ~.section-hc-about .hc-about-grid-wrap{
    row-gap: 0;
}

.hc-about-grid-wrap {
    --_col-width: calc(clamp(10.0625rem, -4rem + 25vw, 16rem) + 10px);
    display: grid;
    grid-template-columns: var(--_col-width) calc(var(--_col-width)*3) ;
    gap: 2rem;
}


.official-site-wrap {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.hc-radio-01 > h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    max-width: 44ch;
    margin-bottom: 2.125rem;
}
.hc-radio-01 > p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    color: var(--clr-primary-darkblue);
}

.grid-full {
    grid-column-start: 1;
    grid-column-end: 3;
}



/* infostructure */

.hc-radio-02 {
    width: calc(var(--_col-width)*3.5);
}

.infostructure-container ul {
    display: flex;
    gap: 1.5rem;
}

.infostructure-container ul li label  {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: var(--clr-primary-darkblue);
    white-space: nowrap;
}

.infostructure-container .map-wrap {
    background-color: var(--clr-greyscale-4);
    height: 564px;
    margin-top: 2rem;
    display: grid;
    place-items: center;
    font-size: 5rem;
    color: beige;
    max-width: 90%;
}

#infostructure-map-01:not(:checked) ~ ul li:nth-child(1) {
    opacity: .5;
}
#infostructure-map-02:not(:checked) ~ ul li:nth-child(2) {
    opacity: .5;
}
#infostructure-map-03:not(:checked) ~ ul li:nth-child(3) {
    opacity: .5;
}
#infostructure-map-04:not(:checked) ~ ul li:nth-child(4) {
    opacity: .5;
}
#infostructure-map-05:not(:checked) ~ ul li:nth-child(5) {
    opacity: .5;
}

/* docs */

.description-content-wrap > span{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: var(--clr-greyscale-6);
}

.description-content-wrap > span > a {
    color: var(--clr-primary-lightblue);
}

.documents-carousel {
    margin-top: 3rem;
}

.documents-carousel .carousel-wrap {
    gap: 1rem;
    width: 100%;
}

.document-item {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid var(--clr-greyscale-4);
    height: 316px;
    min-width: 245px;
    border-radius: 1rem;
    outline-offset: -1px;
}

.document-item a {
    max-width: 12ch;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: var(--clr-greyscale-6);
    text-transform: lowercase;
    text-decoration: none;
}

.document-item a::first-letter {
    text-transform: uppercase;
}




section+section .section-wrap {
    --_wrap-padding: 3rem;
    padding-inline: var(--_wrap-padding) ;

}

.only560 {
    display: none;
}

.right-side-controls {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 400px;
    z-index: 2;
}

.right-side-controls span {
    background-color: var(--clr-secondary-red);
    width: 64px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: .5rem;

}

.section-hero {
    background-image: url('../img/hero/hero.webp');
    background-size: cover;
    height: 400px;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}

.section-hero h1 {
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 150px;
    white-space: nowrap;
    margin-bottom: 28px;

}

.section-hc-about {
    background-color: var(--clr-greyscale-0);
    border-radius: 48px;
    transform: translateY(-48px);
}

.section-hc-about > .section-wrap {
    padding-top: 2.4375rem;
    width: var(--content-width);
}

.section-hero .col-2-4 .tag-wrap {
    display: flex;
}

.section-nav-menu {
    height: 100px;
    overflow-y: hidden;
}

.section-nav-menu .carousel-wrap {
    width: 70%;
}

.section-nav-menu ul {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 5.125rem;
}

.section-nav-menu label {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.875rem;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    color: var(--clr-primary-darkblue);
    white-space: nowrap;
}



.section-hc-about-adress {
    display: grid;
    gap: 22px;
    height: fit-content;
}

.section-hc-about-adress p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5625rem;
}

.section-hc-about .section-wrap > .text h2 {
font-size: 1.5rem;
font-weight: 500;
line-height: 1.75rem;
letter-spacing: 0em;
text-align: left;
margin-bottom: 2.125rem;
max-width: 44ch;

}

.documents-content-wrap > span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: var(--clr-greyscale-6);
}

.section-hc-about .text p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-darkblue);  
    max-width: 67ch;  
}

.official-site-wrap {
    display: flex;
    gap: .5rem;
    font-family: Geologica;
    font-size: clamp(1rem, 0.4079rem + 1.0526vw, 1.25rem);
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-lightblue);
    margin-top: 2.6875rem;
    grid-column-start: 1;
}

.section-hero .tag-wrap{
    display: flex;
    gap: 0;
}



.section-hc-about-tag-wrap {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.radio-01-carousel {
    margin-top:2.6875rem;
    /* width: clamp(41.625rem, 6.9868rem + 61.5789vw, 56.25rem); */
    width: 56rem;
    width: 39rem;
    width: clamp(39rem, -1.2632rem + 71.5789vw, 56rem);
}

.radio-01-carousel .carousel-wrap {
    gap: 1rem;
    width: 100%;
}

.section-typical-layouts .carousel-container .carousel-wrap {
    --_height: clamp(37.5rem, 0.4934rem + 65.7895vw, 53.125rem);
}



#carousel_003_side_controls_prev,
#carousel_003_side_controls_next,
.side-controls
 {
    width: 32px;
    aspect-ratio: 1;
    background-color: var(--clr-primary-darkblue);
    display: grid;
    place-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: scale 250ms;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 9px));
    
}

#carousel_003_side_controls_prev,
.side-controls-prev {
    left: 1rem;
}

#carousel_003_side_controls_prev svg {
    transform: translateX(-1px);
}

#carousel_003_side_controls_next,
.side-controls-next {
    right: 1rem;
    
}




.text h3 {
    font-family: Geologica;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
    margin-bottom: 4px;

}

.text h3:first-child {
    margin-top: 2.625rem ;
}

.text p+h3 {
    margin-top: 1.5rem;
}

.section-hc-about-mini-card-wrap {
    display: grid;
}

.section-hc-about-mini-card-wrap .carousel-wrap {
    margin-top: 3rem;
    grid-template-columns: repeat(4, var(--_col-width) );
    display: grid;
}

#carousel_004_controls {
    display: none;
}

#carousel_004 .card-item{
    background-color: var(--clr-greyscale-2);
    padding: 1.375rem 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 0.75rem;
    min-width: 200px;
    
}

#carousel_004 .card-item p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-wrap: balance;
}

.double-card-wrap {
    display: grid;
    gap: 2rem;
}

.section-hc-about-carousel-dbl {
    margin-top: 3rem;
}

.section-hc-about-carousel-dbl .carousel-wrap {
    gap: 2rem;
    width: var(--_content-width);
}


.section-typical-layouts {
    margin-top: 5.125rem;
}


.section-typical-layouts .carousel-wrap div img {
    width: var(--content-width);
    /* width: calc( var(--content-width) - var(--_wrap-padding)*2); */
}

.section-typical-layouts h2 {
    margin-bottom: 1.5rem;
}

.section-typical-layouts .tag {
    border-radius: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9375rem;
    color: var(--clr-greyscale-6);
    background-color: var(--clr-greyscale-2);
    padding: 0.625rem 1.25rem;

}

.mortgage-toggle {
    transition: transform 200ms ease;
    cursor: pointer;
}

.mortgage-toggle:active {
    scale: .9;
}

.section-mortgage { 
    margin-top: 4.625rem;
}

.mortgage-table-container {
    margin-top: 1rem;
}

.section-mortgage .section-wrap {
    background-color: #F2F4F8;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    padding: 4.5rem 2.5625rem;
}

.mortgage-table-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-greyscale-4);
}

.mortgage-table-item-head h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: var(--clr-primary-darkblue);
    margin-block: 2rem 1rem;
}

.mortgage-table-item-addon {
    height: 302px;
    overflow-y: scroll;
    width: min(899.9px, 95%);
    margin: 2rem auto;
    padding-right: 2rem;
    position: relative;
    border-right: 1px solid var(--clr-greyscale-4);
}

.mortgage-table-item-addon::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}


.mortgage-table-item-addon::-webkit-scrollbar-thumb {
    background-color:var(--clr-primary-lightblue) ;
}
.mortgage-addon-head {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-6);
}

.mortgage-addon-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
    padding-block: 1.4375rem 1rem;
}

.mortgage-addon-item,
.mortgage-addon-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-greyscale-4);
}





.mortgage-addon-item > *, .mortgage-addon-head>* {
    display: block;
    text-align: left;
    width: 100%;
}

.mortgage-addon-head>* {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.mortgage-addon-item > span:nth-child(2)::after, 
.mortgage-addon-item > span:nth-child(3)::after {
    content: ' %';
}

.mortgage-addon-item > span:nth-child(3)::before {
    content: 'от ';
}


.section-typical-layouts .carousel-container {
    margin-top: 3.25rem;
    position: relative;
    
}

.section-typical-layouts .carousel-container .carousel-wrap {
    padding-right: 1rem;
}

.section-typical-layouts .section-wrap {
    padding: 0;
}

.mortgage-addon-head {
    background-color:#F2F4F8;
    position: sticky;
    width: 100%;
    top: 0;
}

.offices-grid {
    display: flex;
    flex-direction: column;
    width: 104%;
}

.offices-upper-wrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.hc-radio-05 .section-hc-adress-official-combo .official-site-wrap{
    transform: translateY(100px);
}

.hc-radio-01 .section-hc-adress-official-combo .official-site-wrap{
    transform: translateY(125px);
}

.offices-carousel .carousel-wrap {
    --_height: 270px;
    gap: .5rem;
}

.offices-carousel {
    width: 448px;
}



.offices-grid .map-wrap {
    grid-column-start: 1;
    grid-column-end: 3;

    height: 564px;
    background-color: var(--clr-greyscale-6);
    display: grid;
    place-items: center;
    font-size: 5rem;
}

.offices-adress {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.offices-adress h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--clr-greyscale-6);
}

.offices-adress span, .offices-adress a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: var(--clr-greyscale-6);
    text-decoration: none; 
}

.offices-adress div a{
    display: flex;
    gap: .5rem;
    align-items: center;
    font-family: Geologica;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: var(--clr-primary-lightblue);
}



@media screen and (max-width: 1145px) {
    .offices-adress {
        gap: 1rem;
    }
}




@media screen and (max-width: 1000px) {
    .section-hc-about-carousel-dbl {
        min-width: calc(100% + 24px); 
    }
    
}



@media screen and (max-width: 900px) {

.section-typical-layouts .carousel-container .carousel-wrap {
    --_height: clamp(24.375rem, 2.7574rem + 61.7647vw, 37.5rem);
}

    .section-hero .section-wrap ,
.section-hc-about .section-wrap {
    padding-inline: 0;
}

.offices-grid {
    width: 100%;
}

.hc-radio-05 .section-hc-adress-official-combo .official-site-wrap ,
.hc-radio-01 .section-hc-adress-official-combo .official-site-wrap {
    transform: translateY(0);
}


.hc-radio-05:nth-of-type(2) {
    min-width: 100%;
}

.infostructure-container .map-wrap {
    max-width: 97.5%;
}

#section-hc-radio-01:not(:checked) ~ .section-hc-about .section-wrap .section-hc-adress-official-combo {
    margin-bottom: 0;
}



.section-hc-about .section-wrap ,
.section-typical-layouts .section-wrap {
    margin: 0 0;
    width: 100vw;
    padding-inline: 36px;
    overflow-x: hidden;
}

.section-nav-menu ul {
    margin-bottom: 0;
}


.hc-radio-02 {
    width: var(--content-width);
}

.section-hc-adress-official-combo {
    flex-direction: row;
}

.hc-about-grid-wrap {
    display: flex;
    flex-direction: column;
    padding-inline: 0px;
    gap: 0;
}

.description-content-wrap {
    display: flex;
    flex-direction: column;
}
.description-content-wrap > *:nth-child(1) {
    order: 2;
}
.description-content-wrap > *:nth-child(2) {
    order: 3;
}
.description-content-wrap > *:nth-child(3) {
    order: 1;
}


.radio-01-carousel {
    width: calc(100% + 36px);
}


.section-nav-menu {
    margin-bottom: -2.5rem;
}

.section-hc-about-adress {
    margin-bottom: 2.4375rem;
}

.hide900 {
    display: none;
}

.section-hc-about-adress p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5625rem; 
}


.section-typical-layouts .carousel-wrap div img {
    width: calc(100vw - 36px);
}

.section-hc-adress-official-combo {
    display: flex;
    gap: 2rem;
    order: 1;
    margin-bottom: -2rem;
}

.grid-2-4 {
    display: flex;
    flex-direction: column;
}

.section-hc-about-adress {
    display: flex;
}

.official-site-wrap {
    margin-top: 0;
}

.section-hc-about-carousel {
    order: 2;
    min-width: calc(100% + 36px/2 + 18px);
    margin-top: 0rem;
}

.section-hc-about-adress + .text {
    order: 3;
}

#carousel_004_controls {
    display: flex;
}

.section-typical-layouts h2 {
    font-size: clamp(1.75rem, -2.625rem + 12.5vw, 3rem);
}

.section-hc-about h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.section-hc-about-tag-wrap .btn {
    font-size: 0.75rem;
    padding: 0.625rem 1.5rem;
}

.mortgage-table-item-addon {
    padding-right: clamp(1rem, -7.2353rem + 23.5294vw, 6rem);
}

.section-mortgage .section-wrap {
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.mortgage-addon-item > *:nth-child(2), .mortgage-addon-head>*:nth-child(2) {
    min-width: clamp(1.875rem, -15.625rem + 50vw, 12.5rem);
}

.infostructure-grid > * {
    width: 100%;
}

.document-item {
    height: 200px;
    min-width: 210px;
}

.documents-carousel .carousel-wrap {
    gap: .5rem;
}






}


@media screen and (max-width: 720px) {

    body {
        --content-width: clamp(var(--content-width-320), 1.536rem + 87.32vw, var(--content-width-720));
    }

}


@media screen and (max-width: 560px) {

    .section-typical-layouts .carousel-container .carousel-wrap {
        --_height: clamp(13.125rem, -1.875rem + 75vw, 24.375rem);
    }

    .right-side-controls span {
        width: 48px;
        aspect-ratio: 1;
    }

    #section-hc-radio-05:checked ~ .section-hc-about .section-wrap .section-hc-adress-official-combo {
        margin-top: 0rem;
    }

    .offices-adress {
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .infostructure-container {
        margin-top: -3.5rem;
    }

    .section-nav-menu .carousel-wrap {
        width: 100%;
    }

    .section-nav-menu ul {
        width: 120%;
    }

    .hide560 {
        display: none;
    }

    .only560 {
        display: inline-block;
    }

    .offices-grid .map-wrap {
        height: 328px;
        margin-bottom: 200px;
    }

    .offices-upper-wrap .offices-adress{
        background-color: var(--clr-greyscale-2);
        transform: translateY(50px);
        z-index: 20;
        padding: 0.75rem 1rem 1.375rem 1rem;
        border-radius: 0.75rem;

    }
    .offices-adress h3 {
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .offices-adress span, .offices-adress a {
        font-size: 0.875rem;
        line-height: 1.1375rem;
    }

    .offices-carousel {
        position: absolute;
        bottom: -10px;
        /* height: 184px; */
    }

    .offices-carousel .carousel-wrap {
        gap: .5rem;
    }

    .offices-carousel img {
        height: 184px;
        height: 148px;
    }

    .section-hero {
        height: 530px;
        background-image: url('../img/hero/hero.webp');
        background-position: center;
    }

    .section-hero .section-wrap ,
    .section-hc-about .section-wrap {
        margin-inline:0 ;
        width: 100%;
        padding-inline: 24px;
        overflow-x:hidden;
    }

    .section-hc-about {
        border-radius: 24px;
    }

    .section-nav-menu {
        width: calc(100vw);
        margin-bottom: 2rem;
    }

    .section-nav-menu ul:last-child{
        margin-right: 2rem;
    }

    .section-hero h1 {
        margin-bottom: 1rem;
        max-width: 5ch;
        white-space: wrap;
    }

    .section-hero .col-2-4 .tag-wrap {
        flex-direction: column;
        gap: .5rem ;
        
    }

    .section-hero .col-2-4 .tag-wrap>*{
        width: fit-content;
    }

    .section-nav-menu a {
        white-space: nowrap;
    }

    .section-hc-adress-official-combo {
        display: flex;
        flex-direction: column;
    }

    .official-site-wrap,.section-hc-about-adress {
        gap: 0.75rem;
        min-width: 32px;
    }

    .section-hc-about-adress {
        margin-bottom: 1rem;
    }

    .section-hc-adress-official-combo {
        gap: 1rem;
        margin-top: -5rem;
    }

    #carousel_003_side_controls_prev,
    #carousel_003_side_controls_next {
        display: none;
    }

    .radio-01-carousel .carousel-wrap {
        --_height: 148px;
    }

    .radio-01-carousel .carousel-wrap div img {
        width: 264px;
        height: 148px;
    }


    .grid-left {
        padding-right: 0;
    }

    .section-hc-about-tag-wrap  {
        display: flex;
        gap: .5rem;
    }

    .radio-01-carousel .carousel-wrap {
        padding-bottom: 1rem;
    }

    
    .section-hc-about h2 {
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .section-hc-about .text p {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.125rem;
    }

    .section-hc-about-tag-wrap {
        margin-top: 2.375rem;
    }

    .text h3:first-child {
        margin-top:2.75rem ;
    }

    #carousel_004 .card-item {
        min-width: 124px;
    }

    #carousel_004 .card-item p {
        max-width: 15ch;
    }

    .section-hc-about-carousel-dbl {
        margin-top: 3.5rem;
    }

    #carousel_004 .card-item {
        padding: 20px;
    }

    #carousel_004 .card-item p {
        font-size: 0.75rem;
        line-height: 1.05rem;
    }

    .section-filter {
        margin-top: -1.5rem;
    }

    .section-typical-layouts .section-wrap {
        padding-inline: 1rem;

    }

    .section-typical-layouts .carousel-container .carousel-wrap {
        padding-right: 1rem;
        width: calc(100%);
    }

    .section-typical-layouts .carousel-container {
        width: calc(100% + 18px);
    }

    .section-typical-layouts .carousel-container {
        margin-top: 2.4375rem;
    }

    .section-mortgage h2 {
        text-align: center;
        display: block;
        width: 100%;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.9375rem;
        max-width: 10ch;
        margin: 0 auto;
    }

    .section-mortgage .section-wrap {
        padding-inline: 0.75rem;
    }

    .mortgage-table-item-head h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .mortgage-addon-head > span:last-of-type::before {
        content: '1-Й';
    }

    .mortgage-addon-head span  {
        font-size: 12px;
    }

    .mortgage-addon-item {
        font-size: 14px;
    }

    .mortgage-table-item-addon {
        padding-right: 1rem;
        transform: scaleX(1.05);
    }

    .mortgage-addon-head svg {
        width: 12px;
        height: 12px;
    }

    .mortgage-addon-item > *:nth-child(2)  {
        text-align: center;
        
    }

    .mortgage-addon-head>*:nth-child(2) {
        display: flex;
        place-items: center;
        transform: translateX(15%);
    }

    body {
        --_mfix: clamp(1.5rem, 2.5rem + -5vw, 0.75rem);
    }

    .infostructure-container,
    .infostructure-grid {
        display: flex;
        flex-direction: column;
    }

    .infostructure-grid {
        margin: 0 auto;
        width: 100%;
    }

    .infostructure-grid > * {
        width: 100%;
    }

    .hc-about-grid-wrap {
        min-width: 100%;
    }

    .infostructure-container ul, .infostructure-grid .grid-left,
    .documents-grid .grid-left{
        order: 2;

    }

    .infostructure-container div, .infostructure-grid .grid-right,
    .documents-grid .grid-right {
        order: 1;
    }

    .map-wrap {
        height: 329px;
        width: 100vw;
        position: relative;
        transform: translateX(-24px);
    }

    .infostructure-container ul {
        position: relative;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        background-color: var(--clr-greyscale-2);
        border-radius: 12px;
        transform: translateY(-20px);
    }

    .infostructure-grid .section-hc-adress-official-combo,
    .documents-grid .section-hc-adress-official-combo{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .description-content-wrap > span {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.125rem;
        margin-top: 1rem;
    }
    
    .hc-radio-05:nth-of-type(2) {
        order: 1;
        transform: translateY(-80px);
    }
    .hc-radio-05:nth-of-type(1) {
        order: 2;
        transform: translateY(-40px);
    }
    .hc-radio-02:nth-of-type(1) {
        order: 2;
        transform: translateY(-40px);
    }

    .section-nav-menu {
        position: relative;
        z-index: 30;
        max-width: 90vw;
    }
    
    .section-nav-menu ul {
        width: 100%;
        padding-right: 2rem;
    }

    .section-hero {
        height: 470px;
    }

    .section-hero h1 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.1875rem;
    }

    .section-hero .tag-wrap {
        flex-direction: column;
        gap: .5rem;
    }

    .section-hero .tag-wrap > * {
        width: fit-content;
    }

    .infostructure-container .map-wrap {
        min-width: 100vw;
    }

    .infostructure-container,.documents-content-wrap {
        transform: translateY(-50px);
    }


    
    .offices-carousel {
        width: 92vw;
    }

    .room-select-container > label:nth-of-type(n+2) {
        padding-inline: 13px !important;
    }



}