@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {


    /* colors */

    --clr-greyscale-0:#FFFFFF;
    --clr-greyscale-2: #F2F4F8;
    --clr-greyscale-4: #AEBCC6;
    --clr-greyscale-6: #7E8385;
    --clr-greyscale-8: #1E2020;

    --clr-primary-darkblue: #16215B;
    --clr-primary-blue: #1F299C;
    --clr-primary-lightblue: #0373FF;

    --clr-secondary-red: #FF4242;
    --clr-secondary-cyan: #30D1FF;

    /* fonts */

    font-family: 'Geologica', sans-serif;

    /* headings */

    --fs-h1: 3.75rem;
    --fs-h2: 3rem;
    --fs-h3: 2.25rem;
    --fs-h4: 2rem;
    --fs-h5: 1.5rem;

    /* body */

    --fs-leed24: 1.5rem;
    --fs-leed20: 1.25rem;
    --fs-body16: 1rem;
    --fs-body14: 0.875rem;

    /* card */

    --fs-card12: 0.75rem;
    --fs-card-tag: 0.7815rem;
    --fs-card-price: 1rem;

    /* width */

    --content-width-1280: 76rem; /* 1216px */
    --content-width-720: 40.8331rem; /* 653.33px ? */
    --content-width-320: 19rem; /* 304px ? */
    --content-width: clamp(var(--content-width-720), -4.3886rem + 100.4857vw, var(--content-width-1280));


}

:root, html, body, main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 720px) {
    body {
        --content-width: clamp(var(--content-width-320), 1.536rem + 87.32vw, var(--content-width-720));
    }
}

main {
    overflow: hidden;
    max-width: 100vw;
}

section {
    width: 100%;
}

.section-wrap {
    margin: 0 auto;
    width: var(--content-width);
    
}



h1,h2,h3,h4,h5 {
    line-height: 110%;
    font-weight: 500;
    color: var(--clr-primary-darkblue);
}

h1 {
    font-size: var(--fs-h1);
    line-height: 115%;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}


/* WIDTHS */


/* CAROUSEL AKA SCROLLER */



.carousel-container {
    width: 100%;
    position: relative;
    margin-bottom: 17px;
    scrollbar-width: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
}

.carousel-container::-webkit-scrollbar ,
.carousel-wrap::-webkit-scrollbar {
    display: none;
}


.carousel-wrap {
    --_height: 280px;
    height: calc( var(--_height));
    display: flex;
    width: 100%;
    padding-bottom: 1.75rem;
    overflow-x: scroll;
    overflow-x:scroll;
}

.carousel-wrap > div {
    height: 100%;
    object-fit: cover;
    display: flex;
}

.carousel-wrap > img {
    /* тимур молодец */
}

.carousel-controls {
    position: absolute;
    display: flex;
    gap: 2px;
    bottom: 00px;
}

.carousel-controls span {
    display: block;
    width: 0.412rem;
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--clr-primary-darkblue);
}

.carousel-controls .active-point {
    width: 3.25rem;
}

.snapsinline {
    scroll-snap-type: x mandatory;
}

.snapsinline > * {
    scroll-snap-align: start;
}



/* BUTTONS */

button, .btn {
    font-family: Geologica;
    outline: none;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    padding: 0.6rem 1.635rem;
    border-radius: 100px;
    text-decoration: none; 
    white-space: nowrap;
}

.btn:not(input) {
    cursor: pointer;
}

.btn-dark-blue {
    background-color: var(--clr-primary-darkblue);
    color: var(--clr-greyscale-0);
}

.btn-light-grey {
    background-color: var(--clr-greyscale-2);
    color: var(--clr-primary-blue);
}

.btn-light-blue {
    background-color: var(--clr-primary-lightblue);
    color: var(--clr-greyscale-0);
}

.btn-white-light-blue {
    background-color: var(--clr-greyscale-0);
    color: var(--clr-primary-lightblue);
    border: 1px solid var(--clr-primary-lightblue) !important;
}

.btn-blue {
    background-color: var(--clr-primary-blue);
    color: var(--clr-greyscale-0);
}

.btn-red {
    color: var(--clr-greyscale-0);
    background-color: var(--clr-secondary-red);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.scaleX-1 {
    transform: scaleX(-1);
}

.scaleY-1 {
    transform: scaleY(-1);
}

/*  */

.pretty-hover, .sneaky-hover, .one-hover {
    transition: box-shadow 250ms, transform 250ms, opacity 250ms;
}

.pretty-hover:hover {
    transform: scale(1.0125);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
    z-index: 20;
}

.sneaky-hover:hover {
    transform: scale(.95);
}



