/* special header needs */


.header-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 100%;
    z-index: 100;
}


header .drop-down:nth-of-type(2) {
    width: 20px;
    transform: translateY(-50%) translateX(15px) translateX(65%);
}

header .info-wrap p {
    position: relative;
    z-index: 100;
}


@media screen and (max-width: 1185px) {
    header .drop-down:nth-of-type(2) {
        display: none;
    }

}


/*  */




section+section .section-wrap {
    --_wrap-padding: 48px;
    padding-inline: var(--_wrap-padding) ;

}

.only560 {
    display: none;
}

.right-side-controls {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 400px;
    z-index: 2;
}

.right-side-controls span {
    background-color: var(--clr-secondary-red);
    width: 64px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: .5rem;

}

.section-hero {
    background-image: url('../img/hero/hero.webp');
    background-size: cover;
    height: 400px;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}

.section-hero h1 {
    font-size: 48px;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 150px;
    white-space: nowrap;
    margin-bottom: 28px;

}

.section-hc-about {
    background-color: var(--clr-greyscale-0);
    border-radius: 48px;
    transform: translateY(-48px);
}

.section-hc-about > .section-wrap {
    padding-top: 2.4375rem;
    width: var(--content-width);
}


.grid-2-4 {
    --_col-width: 256px;
    --_col-width: 167px;
    --_col-width: clamp(10.0625rem, -4rem + 25vw, 16rem);
    display: grid;
    grid-template-columns: repeat(4, var(--_col-width) );
}


.col-1-2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.col-2-4 {
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    max-width: calc((var(--_col-width)*3) + var(--_wrap-padding)*2)
}

.col-1-6 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.section-hero .col-2-4 .tag-wrap {
    display: flex;
}

.section-nav-menu {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    margin-bottom: 5.125rem;
}

.section-nav-menu a {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.875rem;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    color: var(--clr-primary-darkblue);
}

.section-nav-menu .selected {
    border-bottom: 1px solid var(--clr-primary-lightblue);
}

.section-hc-about-adress {
    display: grid;
    gap: 22px;
    height: fit-content;
}

.section-hc-about-adress p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5625rem;
}

.section-hc-about h2 {
font-family: Geologica;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 2.125rem;

}

.section-hc-about .text p {
    font-family: Geologica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-darkblue);    
}

.official-site-wrap {
    display: flex;
    gap: .5rem;
    font-family: Geologica;
    font-size: clamp(1rem, 0.4079rem + 1.0526vw, 1.25rem);
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-lightblue);
    margin-top: 2.6875rem;
}

.section-hc-about-carousel {
    position: relative;
    margin-top: 2.6875rem;
}


.section-hc-about-carousel .carousel-wrap {
    width: calc( var(--_col-width)*3 + var(--_wrap-padding) * 3  );
    position: relative;
    gap: 1rem;
}

.section-hc-about-carousel {
    min-width: calc( var(--_col-width)*3 + var(--_wrap-padding) * 3  );
}

.section-hc-about-tag-wrap {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}



#carousel_003_side_controls_prev,
#carousel_003_side_controls_next {
    width: 32px;
    aspect-ratio: 1;
    background-color: var(--clr-primary-darkblue);
    display: grid;
    place-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: scale 250ms;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 9px));
    
}

#carousel_003_side_controls_prev {
    left: 1rem;
}

#carousel_003_side_controls_prev svg {
    transform: translateX(-1px);
}

#carousel_003_side_controls_next {
    right: 1rem;
    
}




.text h3 {
    font-family: Geologica;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
    margin-bottom: 4px;

}

.text h3:first-child {
    margin-top: 2.625rem ;
}

.text p+h3 {
    margin-top: 1.5rem;
}

.section-hc-about-mini-card-wrap {
    display: grid;
}

.section-hc-about-mini-card-wrap .carousel-wrap {
    margin-top: 3rem;
    grid-template-columns: repeat(4, var(--_col-width) );
    display: grid;
}

#carousel_004_controls {
    display: none;
}

#carousel_004 .card-item{
    background-color: var(--clr-greyscale-2);
    padding: 1.375rem 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 0.75rem;
    min-width: 200px;
    
}

#carousel_004 .card-item p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-wrap: balance;
}

.double-card-wrap {
    display: grid;
    gap: 2rem;
}

.section-hc-about-carousel-dbl {
    margin-top: 3rem;
}

.section-hc-about-carousel-dbl .carousel-wrap {
    gap: 2rem;
    width: var(--_content-width);
}


.section-typical-layouts {
    margin-top: 5.125rem;
}


.section-typical-layouts .carousel-wrap div img {
    width: var(--content-width);
    /* width: calc( var(--content-width) - var(--_wrap-padding)*2); */
}

.section-typical-layouts h2 {
    margin-bottom: 1.5rem;
}

.section-typical-layouts .tag {
    border-radius: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9375rem;
    color: var(--clr-greyscale-6);
    background-color: var(--clr-greyscale-2);
    padding: 0.625rem 1.25rem;

}

.mortgage-toggle {
    transition: transform 200ms ease;
    cursor: pointer;
}

.mortgage-toggle:active {
    scale: .9;
}

.section-mortgage { 
    margin-top: 4.625rem;
}

.mortgage-table-container {
    margin-top: 1rem;
}

.section-mortgage .section-wrap {
    background-color: #F2F4F8;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    padding: 4.5rem 2.5625rem;
}

.mortgage-table-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-greyscale-4);
}

.mortgage-table-item-head h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: var(--clr-primary-darkblue);
    margin-block: 2rem 1rem;
}

.mortgage-table-item-addon {
    height: 302px;
    overflow-y: scroll;
    width: min(900px, 95%);
    margin: 2rem auto;
    padding-right: 2rem;
    position: relative;
    border-right: 1px solid var(--clr-greyscale-4);
}

.mortgage-table-item-addon::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}


.mortgage-table-item-addon::-webkit-scrollbar-thumb {
    background-color:var(--clr-primary-lightblue) ;
}
.mortgage-addon-head {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-6);
}

.mortgage-addon-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
    padding-block: 1.4375rem 1rem;
}

.mortgage-addon-item,
.mortgage-addon-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-greyscale-4);
}



.mortgage-addon-item > *, .mortgage-addon-head>* {
    display: block;
    text-align: left;
    width: 100%;
}

.mortgage-addon-head>* {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.mortgage-addon-item > span:nth-child(2)::after, 
.mortgage-addon-item > span:nth-child(3)::after {
    content: ' %';
}

.mortgage-addon-item > span:nth-child(3)::before {
    content: 'от ';
}

.section-hc-adress-official-combo {
    display: none;
}

.section-typical-layouts .carousel-container {
    margin-top: 3.25rem;
    position: relative;
    
}

.section-typical-layouts .carousel-container .carousel-wrap {
    padding-right: 1rem;
}

.section-typical-layouts .section-wrap {
    padding: 0;
}

.mortgage-addon-head {
    background-color:#F2F4F8;
    position: sticky;
    width: 100%;
    top: 0;
}








@media screen and (max-width: 1000px) {
    .section-hc-about-carousel-dbl {
        min-width: calc(100% + 24px); 
    }
    
}



@media screen and (max-width: 900px) {

.section-hc-about .section-wrap ,
.section-typical-layouts .section-wrap {
    margin: 0 0;
    width: 100vw;
    padding-inline: 36px;
    overflow-x: hidden;
}


.section-typical-layouts .carousel-wrap div img {
    width: calc(100vw - 36px);
}

.section-hc-adress-official-combo {
    display: flex;
    gap: 2rem;
    order: 1;
}

.section-wrap > .section-hc-about-adress,
.section-wrap > .official-site-wrap {
    display: none;
}

.grid-2-4 {
    display: flex;
    flex-direction: column;
}

.section-hc-about-adress {
    display: flex;
}

.official-site-wrap {
    margin-top: 0;
}

.section-hc-about-carousel {
    order: 2;
    min-width: calc(100% + 36px/2 + 18px);
    margin-top: 2.5rem;
}

.section-hc-about-adress + .text {
    order: 3;
}

.col-2-4 {
    max-width: none;
}


.section-hc-about-tag-wrap {order: 4;}

.section-hc-about-tag-wrap + .text {order: 5;}

.section-hc-about-carousel-dbl {order: 6;}

.section-hc-about-carousel .carousel-wrap  {
    width: 100%;
}

#carousel_004_controls {
    display: flex;
}

.section-typical-layouts h2 {
    font-size: clamp(1.75rem, -2.625rem + 12.5vw, 3rem);
}

.section-hc-about h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.section-hc-about-tag-wrap .btn {
    font-size: 0.75rem;
    padding: 0.625rem 1.5rem;
}

.mortgage-table-item-addon {
    padding-right: clamp(1rem, -7.2353rem + 23.5294vw, 6rem);
}

.section-mortgage .section-wrap {
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.mortgage-addon-item > *:nth-child(2), .mortgage-addon-head>*:nth-child(2) {
    min-width: clamp(1.875rem, -15.625rem + 50vw, 12.5rem);
}




}


@media screen and (max-width: 720px) {

    body {
        --content-width: clamp(var(--content-width-320), 1.536rem + 87.32vw, var(--content-width-720));
    }

}


@media screen and (max-width: 560px) {

    .right-side-controls span {
        width: 48px;
        aspect-ratio: 1;
    }

    .hide560 {
        display: none;
    }

    .only560 {
        display: inline-block;
    }

    .section-hero {
        height: 530px;
        background-image: url('../img/hero/hero.webp');
        background-position: center;
    }

    .section-hero .section-wrap ,
    .section-hc-about .section-wrap {
        margin-inline:0 ;
        width: 100%;
        padding-inline: 24px;
        overflow-x:hidden;
    }

    .section-hc-about {
        border-radius: 24px;
    }

    .section-nav-menu {
        width: calc(100vw);
        margin-bottom: 2rem;
    }

    .section-nav-menu ul:last-child{
        margin-right: 2rem;
    }

    .section-hero h1 {
        margin-bottom: 1rem;
        max-width: 5ch;
        white-space: wrap;
    }

    .section-hero .col-2-4 .tag-wrap {
        flex-direction: column;
        gap: .5rem ;
        
    }

    .section-hero .col-2-4 .tag-wrap>*{
        width: fit-content;
    }

    .section-nav-menu a {
        white-space: nowrap;
    }

    .section-hc-adress-official-combo {
        display: flex;
        flex-direction: column;
    }

    .official-site-wrap,.section-hc-about-adress {
        gap: 0.75rem;
    }

    .section-hc-adress-official-combo {
        gap: 1rem;
    }
    
    .section-hc-about h2 {
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .section-hc-about .text p {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.125rem;
    }

    .section-hc-about-tag-wrap {
        margin-top: 2.375rem;
    }

    .text h3:first-child {
        margin-top:2.75rem ;
    }

    #carousel_004 .card-item {
        min-width: 124px;
    }

    #carousel_004 .card-item p {
        max-width: 15ch;
    }

    .section-hc-about-carousel-dbl {
        margin-top: 3.5rem;
    }

    #carousel_004 .card-item {
        padding: 20px;
    }

    #carousel_004 .card-item p {
        font-size: 0.75rem;
        line-height: 1.05rem;
    }

    .section-filter {
        margin-top: -1.5rem;
    }

    .section-typical-layouts .section-wrap {
        padding-inline: 1rem;

    }

    .section-typical-layouts .carousel-container .carousel-wrap {
        padding-right: 1rem;
        width: calc(100%);
    }

    .section-typical-layouts .carousel-container {
        width: calc(100% + 18px);
    }

    .section-typical-layouts .carousel-container {
        margin-top: 2.4375rem;
    }

    .section-mortgage h2 {
        text-align: center;
        display: block;
        width: 100%;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.9375rem;
        max-width: 10ch;
        margin: 0 auto;
    }

    .section-mortgage .section-wrap {
        padding-inline: 0.75rem;
    }

    .mortgage-table-item-head h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.25rem;
        line-height: 1.4375rem;
    }

    .mortgage-addon-head > span:last-of-type::before {
        content: '1-Й';
    }

    .mortgage-addon-head span  {
        font-size: 12px;
    }

    .mortgage-addon-item {
        font-size: 14px;
    }

    .mortgage-table-item-addon {
        padding-right: 1rem;
        transform: scaleX(1.05);
    }

    .mortgage-addon-head svg {
        width: 12px;
        height: 12px;
    }

    .mortgage-addon-item > *:nth-child(2)  {
        text-align: center;
        
    }

    .mortgage-addon-head>*:nth-child(2) {
        display: flex;
        place-items: center;
        transform: translateX(15%);
    }




}