.q-a {
    display: grid;
    margin-bottom: 3rem;
}

.q-a-wrap {
    display: grid;
}

.q-a h2 {
    margin-left: 2rem;
}

.q-a-container {
    display: grid;
    margin-top: 2rem;
    place-items: center;
    gap: 2rem;
}

.q-a-item {
    display: grid;
    gap: 2rem;
    width: 79%;
}

.q-a-head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid var(--clr-greyscale-2);
    padding-bottom: 1rem;
}

.q-a-head h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary-darkblue);
}

.q-a-toggle {
    margin-right: 1rem;
    position: relative;
    top: -1rem;
}

.q-a-left-right-toggle-selected > div > span:first-of-type {
    height: 2px;
    width: 16px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--clr-primary-lightblue);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: 0.2s ease;
}

.q-a-left-right-toggle-selected > div > span:last-of-type {
    height: 2px;
    width: 16px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--clr-primary-lightblue);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: 0.2s ease;
}

.q-a-addon {
    margin-bottom: 3rem;
}

.q-a-addon b {
    font-weight: bold;
}

.q-a-addon p, .q-a-addon li {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-greyscale-8);
}

.q-a-left-right-toggle > div > span:first-of-type  {
    width: 10px;
    height: 2px;
    display: block;
    transform: rotate(35deg);
    background-color: var(--clr-primary-lightblue);
    position: absolute;
    margin-top: 24px;
    transition: 0.2s ease;
}

.q-a-left-right-toggle > div > span:last-of-type  {
    width: 10px;
    height: 2px;
    display: block;
    transform: rotate(-35deg);
    background-color: var(--clr-primary-lightblue);
    position: absolute;
    margin-top: 24px;
    left: 8px;
    transition: 0.2s ease;
}

.q-a-buttton-bottom {
    display: flex;
    place-content: center;
    margin: 3rem auto 0 auto;
    width: 15rem;
    background-color: white;
    border-radius: 48px;
    border: 1px solid var(--clr-primary-lightblue);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--clr-primary-lightblue);
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    
    .q-a h2 {
        margin-left: 0;
    }

    .q-a-item {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {

    .q-a h2 {
        font-size: 2rem;
        margin-left: 0;
    }
}